
.search,
.search_input {
    width: 100%;
    height: 88rpx;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
}


.search {
    justify-content: space-around;
}

.search_input {
    justify-content: space-around;
}

.search view,
.search_input view {
    height: 64rpx;
    line-height: 64rpx;
    background-color: #fff;
    border-radius: 17px;
    text-align: center;
    display: flex;
    align-items: center;
    margin: 0 32rpx;
}

.search view {
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.search image {
    display: block;
    width: 5%;
    height: 50%;
}

.search_input view {
    padding-left: 24rpx;
    text-align: left;
    flex: 1;
    margin: 0 28rpx 0 32rpx;
}

.search icon,
.search_input icon {
    display: inline-block;
    margin: 4rpx 12rpx 0;
    font-size: 24rpx;
}

.search text {
    font-size: 30rpx;
    color: #9B9B9B;
}

.search_input text {
    display: inline-block;
    height: 60rpx;
    line-height: 60rpx;
    font-size: 30rpx;
    color: #0873DE;
    margin-right: 32rpx;
}

.search_input input {
    font-size: 28rpx;
    width: 90%;
}

.mask {
    background-color: black;
    opacity: 0.4;
    position: fixed;
    top: 80rpx;
    left: 0;
    right: 0;
    bottom: 0;
}



.scroll_view,
.scroll_view_change {
    background-color: #FAFAFA;
    padding-bottom: 100rpx;
}

.scroll_view_X,
.scroll_view_change_X {
    padding-bottom: 230rpx;
}


.message {
    width: 100%;
    height: auto;
    padding: 0 30rpx;
    position: relative;

}

.time {
    margin: 14rpx 0;
    text-align: center;
}

.time .time-text {
    display: inline-block;
    padding: 6rpx 20rpx 0 20rpx;
    font-size: 24rpx;
    color: #fff;
    line-height: 28rpx;
    border-radius: 4rpx;
    background-color: #dcdcdc;
}

.user .user-text {
    margin: auto 100rpx 8rpx;
    font-size: 20rpx;
    color: #dcdcdc;
    display: block;
}

.avatar {
    width: 72rpx;
    height: 72rpx;
    margin: 0 20rpx 0 0;
    border-radius: 6rpx;
    float: left;
}

.msg {
    display: inline-block;
    padding: 20rpx;
    max-width: calc(85% - 80rpx);
    min-height: 40rpx;
    font-size: 24rpx;
    /*overflow: hidden;*/
    text-align: left;
    word-break: break-all;
    background-color: #fff;
    border-radius: 26rpx;
    position: relative;
    margin-top: 24rpx;
}

.msg .msg_poprightarrow {
    position: absolute;
    right: -10rpx;
    height: 18rpx;
    width: 18rpx;
    margin-top: -10rpx;
}

.msg .msg_popleftarrow {
    position: absolute;
    left: -14rpx;
    height: 18rpx;
    width: 18rpx;
    margin-top: -10rpx;
}

.msg .msg-text {
    line-height: 40rpx;
    font-size: 32rpx;
    margin: 0;
}

.self {
    text-align: right;
}

.self .avatar {
    float: right;
    margin: 0 0 0 20rpx;
}

.user {
    position: relative;
    bottom: -30rpx;
}

.self .msg {
    background-color: #0873DE;
    color: #fff;
}

.self .msg:before {
    right: inherit;
    left: 100%;
    border-right-color: transparent;
    border-left-color: #b2e281;
}

.template {
    display: inline;
}

.err {
    width: 32rpx;
    height: 32rpx;
    position: absolute;
    left: -40rpx;
}

.hide {
    display: none;
}

.show {
    display: block;
}
