page {
  background-color: #f2f2f2;
}
.group-wrap {
  height: 100%;
  background-color: #cfcfcf;
}
.wrap {
  border-radius: 3px;
  background: #fff;
  height: 100%;
}
.title-card {
  height: 72px;
  display: flex;
  align-items: center;
  border-bottom: 10px solid #f2f2f2;
}
.title-card image {
  height: 40px;
  width: 40px;
  margin: 15px;
}
.border-bottom {
  border-bottom: 1px solid #e1e1e1;
}
.pd-10 {
  padding-left: 10px;
}
text {
  font-size: 14px;
}
.group-name {
  box-sizing: border-box;
  width: 100%;
  line-height: 40px;
  padding: 10rpx;
  border-bottom: 1px solid #f2f2f2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.group-name .item-name {
  color: #ccc;
  font-size: 14px;
}
.group-member,
.invite-member {
  padding: 10px;
}
.invite-member {
  border-bottom: 10px solid #f2f2f2;
}
.group-member {
  /* max-height: 300px; */
  /* overflow-y: auto; */
  border-bottom: 1px solid #f2f2f2;
}
.group-member-list {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 5rpx 10rpx;
  border-bottom: 1px solid #f2f2f2;
}

.member-list {
  margin: 0 10rpx;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: normal !important;
}
.member-list image {
  width: 66rpx;
  height: 66rpx;
}
.invite-member .invite-wrap input {
  display: inline-block;
  width: calc(100% - 110px);
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  padding: 0 8px;
  box-sizing: border-box;
}
.invite-wrap {
  padding: 0 10px 0 10px;
  box-sizing: border-box;
}
.invite-member .invite-wrap button {
  float: right;
  width: 70px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
}
.invite-title {
  display: block;
  height: 35px;
  line-height: 35px;
}
.black-list {
  height: 40px;
  line-height: 40px;
}
.disband-group {
  padding: 0 8px;
  height: 40px;
  line-height: 40px;
}
.exit-group {
  padding: 0 8px;
}
.bottom-wrap {
  position: fixed;
  bottom: 50px;
  width: 100%;
  z-index: 2;
}
