.more_func_container {
  width: 100%;
  height: 200px;
  padding: 16px 0;
  background: #fff;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 30px;
}
.more_func_item {
  /* flex-basis: 25%; */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.more_func_item text {
  /* 照片 */

  width: 24px;
  height: 16px;

  /* 简体中文/文本/小 */
  font-family: 'PingFang SC';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */
  text-align: center;

  /* Neutral/3 */
  color: #464e53;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}
.more_func_item_icon {
  width: 64px;
  height: 64px;
  border-radius: 12px;
  background-color: #f1f2f3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.more_func_item_icon_img {
  width: 32px;
  height: 32px;
}
.more_func_item_icon_common {
  width: 26.67px;
  height: 21.33px;
}
.more_func_item_icon_profile {
  width: 21.33px;
  height: 24px;
}
