.setting--wrap {
  padding-bottom: 130rpx;
}

.content {
  padding: 20rpx;
}

.label {
  font-size: 30rpx;
}

.update-btn {
  position: fixed;
  bottom: 30rpx;
  width: 90%;
  left: 0;
  margin-left: 5%;
  background: #479ff8;
  text-align: center;
  color: #fff;
}